<!DOCTYPE html>
<html ng-app="events-app">
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <style>
        body {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
        }
    </style>
    <body ng-controller="EventSchedule">
        
        <div class="page-header">
          <h1>Event Scheduler <small> SMHS Programming Club</small></h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Reminder List
            </div>

            <div class="panel-body">
                {{events.length}} items to complete.
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="event in events">
                    <strong>{{event.name}}</strong> by <strong>{{event.time}}</strong> at <strong> {{event.location}} </strong>
                </li>
            </ul>
        </div>
        <form class="form-inline" ng-submit="addEvent()">
            <div class="form-group">
                <label for="eventName">Event</label>
                <input id="eventName" type="text" ng-model="eventName" name="eventName" /></span>
            </div>

            <div class="form-group">
                <label for="eventTime">Time</label>
                <input id="eventTime" type="text" ng-model="eventTime" name="eventTime" /></span>
            </div>
            <div class="form-group">
                <label for="eventLocation">Location</label>
                <input id="eventLocation" type="text" ng-model="eventLocation" name="eventLocation" /></span>
            </div>
            <button type="submit" id="submit" class="btn btn-default">Add Event</button>
        </form>



        <div class="well" style="margin-top: 50px;">
            <h3>Your assignment: Add a search bar to the below code.</h3>
            <p>Check out <a href="https://docs.angularjs.org/api/ng/filter/filter">this</a> angular documentation for reference; don't fret! Make sure to hit these essentials.</p>
            <ul>
                <li>a search input</li>
                <li>an ng-model to store the search expression</li>
            </ul>
            <p color="text-danger">Above all, remember to ask us for hints and help!</p>
        </div>

    </body>
</html>
