<!DOCTYPE html>
<html ng-app="events-app">
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <style>
        body {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
        }
    </style>
    <body ng-controller="EventSchedule">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reminder List
            </div>

            <div class="panel-body">
                {{events.length}} items to complete.
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="event in events">
                    <strong>{{event.name}}</strong> by <strong>{{event.time}}</strong>
                </li>
            </ul>
        </div>
        <form class="form-inline" ng-submit="addEvent()">
            <div class="form-group">
                <label for="eventName">Event</label>
                <input id="eventName" type="text" ng-model="eventName" name="eventName" /></span>
            </div>

            <div class="form-group">
                <label for="eventTime">Time</label>
                <input id="eventTime" type="text" ng-model="eventTime" name="eventTime" /></span>
            </div>
            <button type="submit" id="submit" class="btn btn-default">Add Event</button>
        </form>
    </body>
</html>
